.footer {
	height: 75px;
	padding: 10px;
	background: #000;
	color: #fff;
	display: flex;
	align-items: center;
}

.footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.logo {
	height: 3rem;
	margin-right: 15px;
	cursor: pointer;
}

.ico {
	margin-right: 15px;
	height: 1.5rem;
}

.logo:hover,
.ico:hover {
	transform: scale(1.5);
}

.copyright {
	color: darkgrey;
	font-size: 0.5rem;
	margin-left: 20vw;
}
