.headerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 25vh;
  padding: 0 2rem;
  width: 100vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  background-color: #111;
  color: #fff;
}

.headerh1 {
  font-size: clamp(2.5rem, 9vw, 4rem);
  margin-bottom: 1.5rem;
  letter-spacing: 3px;
}

.headerp {
  font-size: clamp(1.8rem, 2vw, 2.5rem);
  margin-bottom: 1rem;
}
